h1{
    background-color: lightblue;
}
body {
    background-color: lightskyblue;
    border: 5px;
    border-color: black;
    border-style: solid;
}
h3 {
    background-color: lightseagreen;
    color: whitesmoke;
    text-align: center;
}
#titulo1{
    text-align: center;
}