h1{
    background-color: lightblue;
}
body {
    background-color: lightskyblue;
}
h3 {
    background-color: lightseagreen;
    color: whitesmoke;
    text-align: center;
}
#titulo1{
    text-align: center;
}