h1{
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
}
nav{
    text-align: center;
    margin: 20px;
}
section{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 30px;
    margin: 30px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}
li{
    display: inline;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;

}
p{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 30px;
    margin: 30px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}
body {
    background-color: lightskyblue;
    background-repeat: no-repeat;
    background-position:center;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}