table{
    font-family: Arial, sans-serif;
    color: #333;
    position: center;
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    border-color: aqua;

}
body{
    background-color: #f1159c;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
a{
    font-family: Arial, sans-serif;
    color: #333;
    position: relative;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font: 1em sans-serif;
}