h1{
    background-color: lightblue;
}
body {
    background-color: lightskyblue;
    background-repeat: no-repeat;
    background-position:center;
    img{
        width: 300px;
        width: 300px;
    }

    border: 5px;
    border-color: black;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
h3 {
    background-color: lightseagreen;
    color: whitesmoke;
    text-align: center;
}
#titulo1{
    text-align: center;
}